{% extends 'base.html' %} {% block title %} {{ article.title }} {% endblock %}
{% block content %} {% load crispy_forms_tags %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="post-title">{{ article.title }}</h1>
        <p class="post-subtitle">
          {{ article.author }} | {{ article.pub_date|date:"F d, Y" }}
        </p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        {% if not article.image %}
        <img
          src="https://res.cloudinary.com/drqluthko/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1694159790/Unrecognizable_man_showing_20_American_dollars_rttcca.jpg"
          alt="{{ article.title }}"
          class="full-width-image"
        />
        {% else %}
        <img
          src="{{ article.image.url }}"
          alt="{{ article.title }}"
          class="full-width-image"
        />
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body">
        <p class="card-text">{{ article.content|safe }}</p>
        <!-- Display likes and comments count -->
        <div class="row">
          <div class="col-1">
            <strong class="text-secondary">
              <i class="far fa-heart"></i> {{ article.likes }}
            </strong>
          </div>
          <div class="col-1">
            {% with article.comments.count as total_comments %}
            <strong class="text-secondary">
              <i class="far fa-comments"></i> {{ total_comments }}
            </strong>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col card mb-4 mt-3">
      <h3>Comments:</h3>
      <div class="card-body">
        {% for comment in article.comments.all %}
        <!-- Display individual comments -->
        <div class="comments" style="padding: 10px">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="text-muted font-weight-normal">
              {{ comment.created_date|date:"F d, Y" }}
            </span>
            wrote:
          </p>
          {{ comment.body|linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-8 card mb-4 mt-3">
      <div class="card-body">
        {% if commented %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting approval.
        </div>
        {%else%} {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em">
          {% csrf_token %} {{ comment_form|crispy }}
          <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
